@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~nprogress/nprogress.css';

#nprogress .peg {
  box-shadow: none !important;
}

#nprogress .bar {
  background: rgba(79, 70, 229, 1) !important;
  height: 2px !important;
}
